version: "3.9"

services:
  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - appnet

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    image: twitter-clone-server:latest
    restart: always
    env_file:
      - ./server/.env
    depends_on:
      - mongo
    networks:
      - appnet

volumes:
  mongo-data:

networks:
  appnet:
    driver: bridge

