version: "3.9"

services:
  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - appnet

  server:
    image: 192.168.1.51:8083/twitter-clone-server:latest
    restart: always
    ports:
      - "3001:3001"
    depends_on:
      - mongo
    networks:
      - appnet

  client:
    image: 192.168.1.51:8083/twitter-clone-client:latest
    restart: always
    ports:
      - "80:80"
    depends_on:
      - server
    networks:
      - appnet

volumes:
  mongo-data:

networks:
  appnet:
    driver: bridge
